body {
font-family: sans-serif;
margin: auto;
max-width: 1280px;
}
body > *{
padding:0em 2em;
}

footer{
border-top:solid thin #999;
}
footer > ul{list-style-type:none;}
footer > ul > li{display:inline; white-space:nowrap; margin-right:1em;}

/* dark-mode by default: */
body {
background: black;
color: white;
}
a:link {
color: #AAAAFF;
text-decoration:none;
}
a:visited {
color: #EEAAEE;
}
a:link:hover, a:visited:hover {
color: #FF7777;
}

@media (prefers-color-scheme: light) {
body {
background: #CCCCCC;
color: black;
}
a:link {
color: #000099;
text-decoration:none;
}
a:visited {
color: #660066;
}
a:link:hover, a:visited:hover {
color: #990000;
}
}
